.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1.3em;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
.imageGrid li:hover {
    cursor: pointer;
}
.imageGrid li {
    width: 100%;
    transition: .3s;
    overflow: hidden;
}
.imageGrid li img {
    width: 100%;
    transition: .3s;
}
.imageGrid li img:hover {
    transform: scale(1.3);
}